* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
}

.container {
    max-width: 91em;
    overflow: hidden;
    margin: auto;
    margin-top: 6em;
}

.slides {
    width: 400%;
    height: 67em;

    margin-bottom: 1em;
    
} 

.slide {
    display: inline-block;
    margin-left: -0.28em;
    width: 25%;
    transition: .6s ease;
}

.slide:first-child {
    margin-left: 0;
}

.image {
    /* height: 506px;
    width: 25%; */
    height: 100%;
    width: 100%;
    border-radius: 1em;
    /* margin-right: 10px; */
    margin-bottom: 0.8em;
    /* visibility: hidden; */
}

.under {
    display: flex;
    justify-content: right;
}

.text__block {
    width: 50%;
    display: flex;
}

.text {
    width: 50%;
    padding-left: 0.1em;
    font-size: 1.5em;
    line-height: 1;
    overflow: hidden;
    /* margin-right: 10px; */
    transition: .6s ease;
}

input:first-child {
    margin-left: -4.6em;
}

.buttons {
    margin-top: -2.5em;
    margin-left: 22.5%;
    display: flex;
    width: 8em;
    background-color: #ffffff;
}

.button__inner {
    height: 1.5em;
    width: 1.5em;
    line-height: 1;
    background-color: #237674;
    display: inline-block;
    border-radius: 50%;
    border: 0.3em solid #237674;
    transition: .3s ease;
}

.button__inner:hover {
    background-color: #979696;
    border: 0.3em solid #979696;
    cursor: pointer;
}

.button:hover > .button__inner {
    background-color: #979696;
    border: 0.3em solid #979696;
    cursor: pointer;
}

.button {
    height: 3em;
    width: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button:hover {
    cursor: pointer; 
}

#button1:checked ~ .main {
    margin-left: 0%;
}

#button2:checked ~ .main {
    margin-left: -25%;
}

#button3:checked ~ .main {
    margin-left: -50%;
}

#button4:checked ~ .main {
    margin-left: -75%;
}

#button1:checked ~ .buttons > .button1 > span {
    background-color: black;
}

#button2:checked ~ .buttons > .button2 > span {
    background-color: black;
}

#button3:checked ~ .buttons > .button3 > span {
    background-color: black;
}

#button4:checked ~ .buttons > .button4 > span {
    background-color: black;
}

